@page
@using IT_Center_Website.Components;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/output.css" />

<html>
<body class="bg-[#FFF4E8] overflow-x-hidden ">
    @*import header component*@
    <div id="header">
        <component type="typeof(Header)" render-mode="ServerPrerendered" />
    </div>
    <div class="landing_page overflow-x-hidden overflow-y-hidden">
        @*introduction*@
        <div class="mt-[80px] relative z-[99]">
            <div class="flex justify-center">
                <h1 class="text-center font-extrabold text-[72px] w-[1077px] text-[#2F2155] leading-[96px]">Upgrade yourself quality to ready a better future</h1>
            </div>
            <div class="flex justify-center mt-[40px] mb-[30px] ">
                <div class="flex items-center bg-[#5635AE] text-[24px] font-normal px-[69px] py-[10px] rounded-[40px] cursor-pointer gap-[10px]
                            hover:bg-[#FD7575] transition-[0.3s]">
                    <a class="text-[#fff]">
                        Get started
                    </a>
                    <img src="~/images/icon/arow_icon.png" />
                </div>

            </div>
            <div class="flex justify-center gap-[50px]">
                <img class="w-[260px] h-[350px]" src="~/images/landingPage/intro_img1.png" alt="" />
                <img class="w-[260px] h-[350px] mt-[110px]" src="~/images/landingPage/intro_img2.png" alt="" />
                <img class="w-[260px] h-[350px]" src="~/images/landingPage/intro_img3.png" alt="" />
            </div>
        </div>
        <img class="absolute top-[20px] left-[-200px]" src="~/images/landingPage/bubble1.png" />
        <img class="absolute right-[180px] bottom-[-180px] " src="~/images/landingPage/bubble2.png" />
        @*end introduction*@

        @*feature*@
        <div class="mt-[120px]">
            <h1 class="text-left text-[56px] font-extrabold w-[582px] mb-[10px] leading-[60px] ml-[150px] text-[#2F2155]">You need more than just studying</h1>
            <div class="flex items-center justify-center gap-[250px]">
                <div>
                    <div class="flex gap-[41px]">
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/refresh_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Updated material</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">Study material with the most up to date industry standards</p>
                        </div>
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/lifetime_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Lifetime access</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">
                                24 hours whenever and wherever
                                you want to study
                            </p>
                        </div>
                    </div>
                    <div class="flex mt-[88px] gap-[41px]">
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/expert_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Expert instructor</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">Learn all the material directly from the experts of the field</p>
                        </div>
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/event_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Interesting eventl</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">There are many interesting events that you must take </p>
                        </div>
                    </div>
                </div>
                <div class="relative z-[99]">
                    <img src="~/images/landingPage/profile_image.png" />

                </div>
                <img class="absolute right-[-180px] " src="~/images/landingPage/bubble1.png" />


            </div>
            <div class="infor absolute right-[350px] bg-[#fff] w-[333px] h-[147px] rounded-[20px] rounded-br-[0px] pl-[40px] flex justify-center flex-col top-[1450px] z-[999]">
                <p class="text-[18px] text-[#2F2155] font-normal w-[273px] pb-[18px]">Duong earned $200K+ after joining in our courses</p>
                <h2 class="text-[24px] text-[#5635AE] font-bold leading-[21px]">Read Duong's story</h2>
            </div>
        </div>
        @*feature 2*@
        <div class="relative">
            <div class="flex justify-center items-center gap-[60px] mt-[100px] px-[100px]">
                <div>
                    <img src="~/images/landingPage/profile_image2.png" />
                </div>
                <div>
                    <div>
                        <h2 class="text-[48px] w-[517px] text-[#2F2155] leading-[60px] font-bold">We make distance learning easy</h2>
                        <p class="text-[#5D527A] opacity-0.8 text-[24px] leading-[25px] w-[575px] mt-[24px]">We provide solutions to problems for the demands of market needs with quality services and learning materials that make this company community large and able to reach many sectors</p>
                    </div>
                </div>
            </div>
            <div class="infor absolute left-[50px] top-[350px] bg-[#fff] w-[333px] h-[147px] rounded-[20px] rounded-br-[0px] pl-[40px] flex justify-center flex-col z-[999]">
                <p class="text-[18px] text-[#2F2155] font-normal w-[273px] pb-[18px]">Duong earned $200K+ after joining in our courses</p>
                <h2 class="text-[24px] text-[#5635AE] font-bold leading-[21px]">Read Duong's story</h2>
            </div>
        </div>
        @*stats*@
        <div class="flex justify-center gap-[115px] mt-[200px]">
            <div class="">
                <h2 class="text-[#2F2155] text-[72px] font-bold leading-[93px]">1000+</h2>
                <p class="text-[#5D527A] text-[24px]">Students Active</p>
            </div>
            <div class="flex flex-col justify-center ">
                <h2 class="text-[#2F2155] text-[72px] font-bold leading-[93px]">20+</h2>
                <p class="text-[#5D527A] text-[24px]">Main Courses</p>
            </div>
            <div class="flex flex-col justify-center ">
                <h2 class="text-[#2F2155] text-[72px] font-bold leading-[93px]">50+</h2>
                <p class="text-[#5D527A] text-[24px]">Countries</p>
            </div>
            <div class="flex flex-col justify-center ">
                <h2 class="text-[#2F2155] text-[72px] font-bold leading-[93px]">10+</h2>
                <p class="text-[#5D527A] text-[24px]">Filter Course</p>
            </div>
        </div>


    </div>
    <div style="min-height:100vh" class="">
    </div>
    @*import footer component*@
    <div id="footer">
        <component type="typeof(Footer)" render-mode="ServerPrerendered" />
    </div>
</body>
</html>
