@page
@using IT_Center_Website.Components;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/output.css" />

<html>
<body class="bg-[#FFF4E8]">
    @*import header component*@
    <div id="header">
        <component type="typeof(Header)" render-mode="ServerPrerendered" />
    </div>
    <div class="landing_page">
        @*introduction*@
        <div class="mt-[100px]">
            <div class="flex justify-center">
                <h1 class="text-center font-extrabold text-[72px] w-[1077px] text-[#2F2155] leading-[96px]">Upgrade yourself quality to ready a better future</h1>
            </div>
            <div class="flex">
                <img src="~/images/ladingPage/intro_img1.png" alt="" />
            </div>
            
        </div>
    </div>
    <div style="min-height:100vh" class="">
        
        
    </div>
    @*import footer component*@
    <div id="footer">
        <component type="typeof(Footer)" render-mode="ServerPrerendered" />
    </div>
</body>
</html>
