@page
@using IT_Center_Website.Components;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/output.css" />

<html>
<body class="bg-[#FFF4E8]">
    @*import header component*@
    <div id="header">
        <component type="typeof(Header)" render-mode="ServerPrerendered" />
    </div>
    <div class="landing_page">
        @*introduction*@
        <div class="mt-[80px] relative z-[99]">
            <div class="flex justify-center">
                <h1 class="text-center font-extrabold text-[72px] w-[1077px] text-[#2F2155] leading-[96px]">Upgrade yourself quality to ready a better future</h1>
            </div>
            <div class="flex justify-center mt-[40px] mb-[30px] ">
                <div class="flex items-center bg-[#5635AE] text-[24px] font-normal px-[69px] py-[10px] rounded-[40px] cursor-pointer gap-[10px]
                            hover:bg-[#FD7575] transition-[0.3s]">
                    <a class="text-[#fff]">
                        Get started
                    </a>
                    <img src="~/images/icon/arow_icon.png" />
                </div>

            </div>
            <div class="flex justify-center gap-[50px]">
                <img class="w-[260px] h-[350px]" src="~/images/landingPage/intro_img1.png" alt="" />
                <img class="w-[260px] h-[350px] mt-[110px]" src="~/images/landingPage/intro_img2.png" alt="" />
                <img class="w-[260px] h-[350px]" src="~/images/landingPage/intro_img3.png" alt="" />
            </div>
        </div>
        <img class="absolute top-[20px] left-[-200px]" src="~/images/landingPage/bubble1.png" />
        <img class="absolute right-[180px] bottom-[-180px] " src="~/images/landingPage/bubble2.png" />
        @*end introduction*@

        @*feature*@
        <div>
            <h1 class="text-left text-[56px] font-extrabold w-[582px] mb-[50px] leading-[60px] text-[#2F2155]">You need more than just studying</h1>
            <div>
                <div>
                    <div class="flex gap-[41px]">
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/refresh_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Updated material</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">Study material with the most up to date industry standards</p>
                        </div>
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/lifetime_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Lifetime access</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">
                                24 hours whenever and wherever
                                you want to study
                            </p>
                        </div>
                    </div>
                    <div class="flex mt-[88px] gap-[41px]">
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/expert_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Expert instructor</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">Learn all the material directly from the experts of the field</p>
                        </div>
                        <div class="">
                            <img class="w-[64px]" src="~/images/icon/event_icon.png" />
                            <h2 class="text-[28px] font-extrabold text-[#2F2155] mt-[14px]">Interesting eventl</h2>
                            <p class="text-[18px] w-[269px] leading-[24px] text-[#5D527A] mt-[6px]">There are many interesting events that you must take </p>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>

    </div>
    <div style="min-height:100vh" class="">
    </div>
    @*import footer component*@
    <div id="footer">
        <component type="typeof(Footer)" render-mode="ServerPrerendered" />
    </div>
</body>
</html>
