@page
@using IT_Center_Website.Components;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/output.css" />

<html>
<body class="bg-[#FFF4E8]">
    @*import header component*@
    <div id="header">
        <component type="typeof(Header)" render-mode="ServerPrerendered" />
    </div>
    <div style="min-height:100vh" class="">
        
        
    </div>
</body>
</html>
