@using Microsoft.AspNetCore.Components.Web;
@using IT_Center_Website.Components;
@inherits Microsoft.AspNetCore.Components.ComponentBase
@page "/footer"

<head>
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/input.css" />
</head>

<div class="footer_container w-full h-[500px] bg-white">
    <div>
        <div>
            <img />
        </div>
        <div>
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div>
        <p class="text-[#FFC68A]">Copyright © 2024 ICO Group. All rights reserved</p>
    </div>
</div>


