@using Microsoft.AspNetCore.Components.Web;
@using IT_Center_Website.Components;
@inherits Microsoft.AspNetCore.Components.ComponentBase
@page "/footer"

<head>
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/input.css" />
</head>

<div class="footer_container w-full h-[400px] pt-[100px] bg-white relative">
    <div class="flex justify-center gap-[60px]">
        <div>
            <img src="images/header/ITCO_Logo.png" />
        </div>
        <div>
            <h2 class="text-[#5635AE] font-bold text-[28px]">About</h2>
            <div class="mt-[22px] flex flex-col gap-[12px]">

                <p class="font-light text-[18px]">Home</p>
                <p class="font-light text-[18px]">Courses</p>
                <p class="font-light text-[18px]">Blogs</p>
            </div>
        </div>
        <div>
            <h2 class="text-[#5635AE] font-bold text-[28px]">Resources</h2>
            <div class="mt-[22px] flex flex-col gap-[12px]">

                <p class="font-light text-[18px]">Video</p>
                <p class="font-light text-[18px]">Guides</p>
            </div>
        </div>
        <div>
            <h2 class="text-[#5635AE] font-bold text-[28px]">Term & Policy</h2>
            <div class="mt-[22px] flex flex-col gap-[12px]">
                <p class="font-light text-[18px]">Privacy & Policy</p>
                <p class="font-light text-[18px]">Help and Support</p>
                <p class="font-light text-[18px]">Sitemap</p>
            </div>

        </div>
        <div>
            <h2 class="text-[#5635AE] font-extrabold text-[28px]">Address</h2>
            <p class="font-light text-[18px] w-[291px] mt-[22px]">D1 St, Long Thanh My, Thu Duc City, Ho Chi Minh City</p>
        </div>
    </div>
    <div class="absolute bottom-[5px] pl-[80px] flex gap-[800px] justify-center font-light text-[16px]">
        <p class="text-black">Copyright © 2024 ICO Group. All rights reserved</p>
        <p class="text-black">Design by VantCii</p>
    </div>
</div>


