@using Microsoft.AspNetCore.Components.Web;
@using IT_Center_Website.Components;
@inherits Microsoft.AspNetCore.Components.ComponentBase
@page "/footer"

<head>
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/input.css" />
</head>

<div class="footer_container w-full h-[400px] bg-white"> 
    <div class="flex justify-center gap-[30px]">
        <div>
            <img />
        </div>
        <div>
            <h2>About</h2>
            <p>Home</p>
            <p>Courses</p>
            <p>Blogs</p>
        </div>
        <div>
            <h2>Resources</h2>
            <p>Video</p>
            <p>Guides</p>
        </div>
        <div>
            <h2>Term & Policy</h2>
            <p>Privacy & Policy</p>
            <p>Help and Support</p>
            <p>Sitemap</p>
        </div>
        <div>
            <h2>Address</h2>
            <p>D1 St, Long Thanh My, Thu Duc City, Ho Chi Minh City</p>
        </div>
    </div>
    <div>
        <p class="text-[#FFC68A]">Copyright © 2024 ICO Group. All rights reserved</p>
    </div>
</div>


