<html>
	<head>
		<link href="/css/ComponentStyleSheet/LandingStyleSheet.css"/>
	</head>
	<body>
		<header>
			<div>
				<h3>ITCO Group</h3>
			</div>
			<div>
				<ul>
					<li>Home</li>
					<li>Courses</li>
					<li>Pricing</li>
					<li>Blogs</li>
					<li>About Us</li>
				</ul>
				<ul>
					<a>Login</a>
					<a>Become a member</a>
				</ul>
			</div>
		</header>
	</body>
</html>
