.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.nav_bar {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 35px;
}

.header_bar {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #2F2155;
    gap: 55px;
}

.logo img {
    width: 100px;
}