@page
@model IT_Center_Website.Pages.Admin.Orders.DetailsModel
@{
	Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}
<body>
	<h1>Order Details</h1>
	<form class="grid grid-cols-2">
		<!--Basic Order Information-->
		<div>
			<div>
				<label asp-for="Order.Id"></label>
				<input asp-for="Order.Id" disabled />
			</div>
			<div>
				<label asp-for="Order.Date"></label>
				<input asp-for="Order.Date" disabled />
			</div>
			<div>
				<label asp-for="Order.Status"></label>
				<input asp-for="Order.Status" disabled />
			</div>
			<div>
				<label asp-for="Order.TotalPrice"></label>
				<input asp-for="Order.TotalPrice" disabled />
			</div>
			<div>
				<label asp-for="Order.PaymentMethod"></label>
				<input asp-for="Order.PaymentMethod" disabled />
			</div>
			<div>
				<label asp-for="Order.PaymentStatus"></label>
				<input asp-for="Order.PaymentStatus" disabled />
			</div>
			<div>
				<label asp-for="Order.UserId"></label>
				<input asp-for="Order.UserId" disabled />
			</div>
		</div>
		<!--Courses List in the Order-->
		<div>
			<h2>Ordered Courses</h2>
			<table>
				<thead>
					<tr>
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Course Price</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var course in Model.Courses)
					{
						<tr>
							<td>@course.Id</td>
							<td>@course.Name</td>
							<td>@course.Price</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</form>
	<button>Go Back</button>
</body>
