@using Microsoft.AspNetCore.Components.Web;
@using IT_Center_Website.Components;
@inherits Microsoft.AspNetCore.Components.ComponentBase;

@code {
    [Parameter]
    public Material ReadingMaterial { get; set; } //Replace this with appropriate model
}

<div>
    @ReadingMaterial.Content
</div>